<div class="flex items-center justify-between">
  <div class="flex flex-1 justify-between sm:hidden">
    <%= link_to_next_page @videos, 'Next Page' %>
  <!--<a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>-->
  <!--<a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>-->
  </div>
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div>
      <p class="text-sm text-gray-700">
        <%= t('components.pagination.showing') %>
        <span class="font-medium"><%= (@videos.current_page - 1) * @videos.limit_value + 1 %></span>
        <%= t('components.pagination.to') %>
        <span class="font-medium"><%= [@videos.current_page * @videos.limit_value, @videos.total_count].min %></span>
        <%= t('components.pagination.of') %>
        <span class="font-medium"><%= @videos.total_count %></span>
        <%= t('components.pagination.results') %>
      </p>
    </div>
    <div>
      <%= paginate @videos %>
    </div>
  </div>
</div>
