<%= form_for talk, html: { class: 'flex flex-col gap-2', role: 'form' } do |f| %>
  <div class="form-control">
    <%= f.label :title, class: 'label' %>
    <%= f.text_field :title, required: true, class: 'input input-bordered w-full' %>
  </div>

  <div class="form-control w-full">
    <%= f.label :speaker_name, class: 'label', required: true %>
    <%= f.text_field :speaker_name, required: true, class: 'input input-bordered w-full' %>
  </div>

  <div class="flex flex-col sm:flex-row gap-4 w-full">
    <div class="form-control w-full">
      <%= f.label :speaker_email, required: true, class: 'label' %>
      <%= f.email_field :speaker_email, required: true, class: 'input input-bordered w-full' %>
    </div>

    <div class="form-control w-full">
      <%= f.label :speaker_twitter, class: 'label' %>
      <%= f.text_field :speaker_twitter, class: 'input input-bordered w-full' %>
    </div>
  </div>

  <div class="flex gap-2 flex-col sm:flex-row w-full justify-evenly">
    <div class="form-control w-full">
      <%= f.label :preferred_month_talk, class: 'label' %>
      <%= f.select :preferred_month_talk, Talk.propose_upcoming_months.invert, {}, class: 'select select-bordered w-full' %>
    </div>

    <div class="form-control w-full">
      <%= f.label :duration, class: 'label' %>
      <%= f.select :duration, Talk.duration.options, {}, { class: 'select select-bordered w-full' } %>
    </div>

    <div class="form-control w-full">
      <%= f.label :level, class: 'label' %>
      <%= f.select :level, Talk.level.options, {}, { class: 'select select-bordered w-full' } %>
    </div>
  </div>

  <div class="flex flex-col gap-4 mt-6 items-start">
    <%= external_link_to t('.accept_coc'), page_path("code_de_conduite"), class: "link" %>
    <%= f.submit t('.submit'), class: 'btn btn-accent', id: "submit-talk" %>
  </div>
<% end %>
