<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#menu">
        <span class="sr-only">Afficher le menu</span>
        <% 3.times do %>
          <span class="icon-bar"></span>
        <% end %>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
        <%= image_tag 'logo.png', width: '100' %>
      <% end %>
    </div>

    <div id="menu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Accueil', root_path %></li>
        <li><%= link_to 'Vidéos', videos_path %></li>
        <li><%= link_to 'Proposer un talk', talks_path %></li>
        <li><%= link_to 'Meetup', 'https://www.meetup.com/paris_rb/', target: "_blank" %></li>
        <li><%= link_to 'Slack', 'https://join.slack.com/t/parisrb/shared_invite/zt-1io48rnoz-97bt5glsJJAL1f9Gj06CRw', target: "_blank" %></li>
      </ul>
    </div>
  </div>
</nav>
