<div class="reveal">
  <div class="header">
    <div class="date"><%= l(Date.today, format: '%A %d %B %Y') %></div>
    <div class="logo"><%= image_tag 'parisrb-logo.png', alt: 'Logo Paris.rb' %></div>
  </div>
  <div class="slides">
    <%= render 'lineups/welcome' %>
    <%= render 'lineups/newcomers' %>
    <%= render 'lineups/talks' %>
    <%= render 'lineups/sponsors' %>
    <%= render 'lineups/speakers' %>
    <%= render 'lineups/social_media' %>
  </div>
</div>
