<div class="flex flex-col gap-4 items-center p-2 sm:p-4">
  <% if sponsor.website.present? %>
    <%= link_to safe_website(sponsor.website),
                title: sponsor.name,
                class: "flex flex-col items-center group link",
                target: "_blank",
                rel: "noopener noreferrer" do %>
      <%= render "sponsors/image", sponsor: sponsor %>
      <span class="mt-2"><%= sponsor.name %></span>
    <% end %>
  <% else %>
    <%= render "sponsors/image", sponsor: sponsor %>
    <span class="mt-2"><%= sponsor.name %></span>
  <% end %>
</div>
