<footer class="py-8 my-20  border-t border-base-200 w-full">
  <h2 id="footer-heading" class="sr-only">Footer</h2>

  <div class="flex flex-wrap gap-8 justify-center items-center container">
    <div class="flex flex-col gap-4 items-center">
      <%= link_to root_path, class: "mx-auto" do %>
        <%= image_tag 'parisrb-logo-200.png', height: 96, class: "h-20 md:h-24", alt: "Paris.rb Logo" %>
      <% end %>
      <div class="text-center font-extralight mb-6">Meetup Ruby depuis 2011</div>
      <div><%= t("welcome.index.join_us_on") %></div>
      <div class="flex flex-wrap items-center gap-4 justify-center">
        <%= link_to join_slack_url, class: "flex items-center gap-2 link link-primary", target: "_blank" do %>
          <%= lucide_icon "slack", class: 'h-6 w-6' %>
          Slack
        <% end %>
        <!-- Youtube -->
        <%= link_to youtube_url, class: "flex items-center gap-2 link link-primary", target: "_blank" do %>
          <%= lucide_icon "youtube", class: 'h-6 w-6' %>
          Youtube
        <% end %>
        <!-- Twitch -->
        <%= link_to twitch_url, class: "flex items-center gap-2 link link-primary", target: "_blank" do %>
          <%= lucide_icon "twitch", class: 'h-6 w-6' %>
          Twitch
        <% end %>

        <!-- Linkedin -->
        <%= link_to linkedin_url, class: "flex items-center gap-2 link link-primary", target: "_blank" do %>
          <%= lucide_icon "linkedin", class: 'h-6 w-6' %>
          Linkedin
        <% end %>
      </div>
    </div>
  </div>
  <div class="flex flex-wrap justify-center gap-8 mt-8">
    <%= external_link_to "Code source", github_url, class: "link" %>
    <%= link_to "Mentions légales", page_path("legals"), class: "link" %>
    <%= link_to "Code de conduite", page_path("code_de_conduite"), class: "link" %>
    <%= external_link_to "Meetup", meetup_url, class: "link" %>
  </div>
</footer>
