<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <% if ENV["GOOGLE_WEB_TOOLS_ID"] %>
      <meta content="<%= ENV["GOOGLE_WEB_TOOLS_ID"] %>" name="google-site-verification">
    <% end %>

    <%= display_meta_tags reverse: true, site: t('site_name'), separator: '·' %>
    <%= render 'application/favicon' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <main class="container mx-auto flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
