<!DOCTYPE html>
<html lang="fr">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <%= render 'navbar' %>

    <%= yield %>

    <%= render 'flashes' %>
    <%= render 'footer' %>
  </body>
</html>
