<!DOCTYPE html>
<html lang="fr">
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>
    <%= render 'navbar' %>

    <div class="container my-16">
      <div class="prose max-w-none">
        <%= yield %>
      </div>
    </div>

    <%= render 'flashes' %>
    <%= render 'footer' %>
  </body>
</html>
